body {
	font-family: "Ubuntu", sans-serif;
}

h1 {
	color: rgb(14, 143, 168);
	text-align: right;
	font-size: 70px;
}

li {
	color: #d66b92;
	font-size: 17px;
	list-style: none;
	text-align: end;
	margin: -2px auto;
	padding: 0 auto;
}

li:first-letter {
	text-transform: capitalize;
}

footer {
	font-size: small;
	color: #6f4886;
	text-align: center;
}

.Weather {
	max-width: 900px;
	margin: 20px auto;
	padding: 25px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgb(14, 143, 168);
	background: linear-gradient(
		122.3deg,
		rgb(111, 71, 133) 14.6%,
		rgb(232, 129, 166) 29.6%,
		rgb(237, 237, 183) 42.1%,
		rgb(244, 166, 215) 56.7%,
		rgb(154, 219, 232) 68.7%,
		rgb(238, 226, 159) 84.8%
	);
}
