.WeatherForecast {
	box-shadow: 8px 5px 5px rgb(111, 71, 133);
	border: 1px solid rgb(198, 198, 192);
	border-radius: 18px;
	text-align: center;
	margin: 16px auto;
	padding: 32px;
}

.WeatherForecast-day {
	color: #0e8fa8;
	font-weight: bold;
	font-size: 20px;
	margin: 3px auto;
	padding: 8px;
}

.WeatherForecast-temperature {
	color: #c9719e;
}

.WeatherForecast-temperature-max {
	font-size: 18px;
}

.WeatherForecast-temperature-min {
	font-size: 15px;
	opacity: 0.8;
}
