.WeatherForecast {
	box-shadow: 8px 5px 5px rgb(111, 71, 133);
	border: 1px solid rgb(198, 198, 192);
	border-radius: 18px;
	text-align: center;
	margin: 10px auto;
	padding: 25px;
}

.WeatherForecast-day {
	color: #0e8fa8;
	font-weight: bold;
	font-size: 22px;
}

.WeatherForecast-temperature {
	color: #6f4886;
}

.WeatherForecast-temperature-max {
	font-size: 18px;
	margin-left: 10px;
}
.WeatherForecast-temperature-min {
	font-size: 16px;
	opacity: 0.5;
}
