.WeatherDetails {
	color: #6f4886;
	text-align: right;
}

.WeatherDetails canvas {
	position: relative;
	left: -35px;
	top: 5px;
}

.WeatherDetails .active:hover {
	text-decoration: none;
}

.temperature {
	color: #6f4886;
	font-size: 80px;
}

.unit {
	color: #6f4886;
	position: relative;
	font-size: 22px;
	top: -40px;
	left: -3px;
	cursor: default;
}
